  .book-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: center;
    padding: 2rem;
  }

  .book-grid-title {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
  }
  
  .separator {
    padding:1rem;
  }