body, html, #root, .App {
  margin: 0;
  padding: 0;
  width: 100%;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Max 4 columns */
  gap: 2rem;
  justify-items: center;
  padding: 2rem;
}

.book-grid-title {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 20px;
}

.separator {
  padding:1rem;
}
